@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yantramanav';
    src: url('./fonts/Yantramanav-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
box-sizing: border-box;
}

:where(ul, ol):where([class]) {
padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
margin: 0;
}

p {
    margin-block: 0px;
}

p:not([class]):last-child {
    margin-bottom: 24px;
}

:where(
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl
):where([class]) {
margin-block: 0;
}

:where(dd[class]) {
margin-left: 0;
}

:where(fieldset[class]) {
padding: 0;
border: none;
}

:where(ul[class]) {
list-style: none;
}

:where(address[class]) {
font-style: normal;
}

p {
--paragraphMarginBottom: 24px;

margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
display: block;
max-width: 100%;
height: auto;
}

input,
textarea,
select,
button {
font: inherit;
}

html {
height: 100%;
scrollbar-gutter: stable;
scroll-behavior: smooth;
}

body {
min-height: 100%;
line-height: 1.5;
}

a:where([class]) {
display: inline-flex;
}

button,
label {
cursor: pointer;
}

button {
-webkit-tap-highlight-color: transparent;
}

:where([fill]:not(
[fill="none"],
[fill^="url"]
)) {
fill: currentColor;
}

:where([stroke]:not(
[stroke="none"],
[stroke^="url"]
)) {
stroke: currentColor;
}

svg * {
transition-property: fill, stroke;
}

:where(table) {
border-collapse: collapse;
border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
*,
::before,
::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}

:root {
    --color-dark: #000000;
    --color-dark-alternate: #131619;
    --color-light: #FFFFFFFF;
    --color-dark-gray: #404040;
    --color-light-gray: #C4C4C4;

    --border-radius: 30px;
    --border: 1px solid var(--color-light);

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --input-height: 54px;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

    --header-height: 90px;

}

body {
    font-family: var(--font-family-base);
    background-color: black;
    color: var(--color-light-gray);
    font-size: 16px;
    line-height: 1.75;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-light)
}
a:hover {
    color: var(--color-light-gray)
}
.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    min-height: var(--header-height);
    padding-inline: 32px;
    background-color: var(--color-dark-alternate);
}
.header-menu-list {
    display: flex;
    column-gap: 50px;

}
.header-menu-link {
    align-items: center;
    display: inline-flex;
    min-height: var(--header-height);

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
    column-gap: 7px;
}

.header-menu-link.is-current::after {
    content: "";
    height: 5px;
    width: 5px;
    background-color: currentColor;
    border-radius: 50%;

}

.button {
    display: inline-flex;
    align-items: center;
    height: 38px;
    padding-inline: 26px;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    white-space: nowrap;
}
.button:hover {
    background-color: var(--color-light-gray);
}

.header-actions {
    display: flex;
    column-gap: 40px;
}
.header-logo {
    flex-shrink: 0;
}
.header-burger-button {
    flex-direction: column;
    row-gap: 4px;
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 40px;

    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--color-light);
    padding-left: 8px;
}
.header-burger-button-line {
    width: 6px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 16px 0 0 currentColor;
}
.header-burger-button {
    color: var(--color-light-gray);
    border-color: currentColor;
}

.header, .banner {
    padding-inline: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.banner {
    padding: 36px;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--color-light);
    background-color: var(--color-dark-alternate);

}
.banner-body {
    text-transform: uppercase;

}
.banner-info {
    display: flex;
    align-items: end;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;
    font-weight: 700;
}
.banner-info::before {
    content: '';
    width: clamp(60px, 10.1vw, 194px);
    aspect-ratio: 1;
    margin-right: 30px;
    background: url(/kropp-fitness/icons/Vector.svg) center/contain no-repeat;
}
.banner-title {
    font-size: min(18.75vw, 360px);
    line-height: 1;
}
.banner-pagination-list {
    display: flex;
    justify-content: center;
    
}
.title-medium {
    font-size: clamp(20px, 2.08vw, 40px);
    line-height: 1.3;
    color: var(--color-light)
}
.title-big {
    font-size: clamp(24px, 3.12em,  60px);
}

.banner-pagination-item {
    display: flex;

}
.backdrop-title.centered::after {
    left: 50%;
    translate: -50% 0;
    top: -0.25em;
}


.banner-pagination-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: none;
    background-color: transparent;
}
.banner-pagination-button.is-current::after {
    background-color: #FFFFFFFF;
}
.banner-pagination-button::after {
    content: '';
    width: 10px;
    aspect-ratio: 1 / 1;
    border: var(--border);
    border-radius: 50%;
    transition: var(--transition-duration)
}
.banner-pagination-button:not(.is-current):hover::after {
    border-color: var(--color-light-gray)
}
.motivation-item:nth-child(even) {
    background-color: var(--color-dark-alternate);
}
.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
}
.motivation-card {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: clamp(30px, 10.42vw, 200px);
}
.motivation-card-image {
    margin-block: -60px;
}
.motivation-card-body {
    padding-left: 35px;
}
.backdrop-title {
    position: relative;
    z-index: 2;
}
.backdrop-title::before {
    content: '';
    position: absolute;
    right: calc(100% + 8px);
    display: block;
    width: 26px;
    height: 26px;
    background: url(/kropp-fitness/images/+.svg) center/contain no-repeat;
}
.backdrop-title::after {
    content: attr(data-title);
    font-size: 2.8em;
    z-index: -1;
    top: -0.3em;
    left: -0.6em;
    line-height: 1;
    position: absolute;
    display: block;
    font-family: var(--font-family-accent);
    color:transparent;
    -webkit-text-stroke: 1px var(--color-light);
    -webkit-text-stroke-color: var(--color-dark-gray);
}
.motivation-card-description {
    max-width: 400px;
}
.motivation-card-title:not(:last-child) {
    margin-bottom: 14px;
}
.motivation-card-description:not(:last-child) {
    margin-bottom: 37px;
}
.button.transparent {
    position: relative;
    color: var(--color-light);
    height: var(--input-height);
    padding-left: 31px;
    padding-right: 81px;
    background-color: transparent;
    border: var(--border);
    text-decoration: none;

}
.button.transparent::after {
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
    right: 0;
    background: url(/kropp-fitness/icons/tahs.svg) center/70% no-repeat;
}
.button.transparent:hover {
    color: var(--color-dark);
    background-color: var(--color-light-gray);
}

.training-types {
    margin-inline: auto;
    padding-top: 70px;
    padding-bottom: 120px;
    position: relative;
    background-color: var(--color-dark);
    max-width: 1920px;
}
.training-types-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px
}
.training-item {
    --trainingtypesitembgiconsize: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding-top: var(--trainingtypesitembgiconsize);
    background: url(/kropp-fitness/icons/agod.svg) 100% 0/var(--trainingtypesitembgiconsize) no-repeat;
}

    .training-types-item-title {
    font-size: 16px;
    color: var(--color-light)
}

.join-us-video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 30px;
    background: url(/kropp-fitness/icons/FUCK.jpg) center/cover no-repeat var(--color-dark-alternate);
}

.join-us-video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 200px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
    color: var(--color-light);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.join-us-video-play-button::after {
    transition-duration: var(--transition-duration);
    content: '';
    width: 26px;
    aspect-ratio: 1;
    background: url(/kropp-fitness/icons/arrow.svg) center/contain no-repeat;

}
.join-us-video-play-button:hover {
    background-color: var(--color-light-gray);
    color: var(--color-dark)
}
.join-us-video-play-button:hover::after {
    filter: invert(1)
}

.join-us-body {
    padding-bottom: 150px;
}
.join-us {
    background-color: var(--color-dark-alternate);
}



.join-us-title {
    font-size: clamp(64px, 9.37vw, 180px);
    line-height: 1;
    text-align: center;
    margin-top: -0.4em;
    position: relative;
    color: var(--color-light)
}
.join-us-title::after {
    display: inline-block;
    content: '';
    width: 0.7em;
    aspect-ratio: 1;
    margin-left: 0.14em;
    background: url(/kropp-fitness/icons/arrowtop.svg) center/contain no-repeat; 
}
.join-us-title:not(:last-child) {
    margin-bottom: 130px;

}
.join-us-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    margin-bottom: 40px;
}
.join-us-form-subtitle {
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 1.65;
}
.join-us-form-subtitle:not(:last-child) {
    margin-bottom: 52px;
}
.input {
    height: var(--input-height);
    padding-inline: 25px;
    width: 100%;
    color: var(--color-light);
    background-color: transparent;
    border: 1px solid var(--color-light-gray);
    border-radius: var(--border-radius);
    
}
.input::placeholder {
    color: var(--color-light-gray);

}
.input:hover {
    border-color: var(--color-light)
}
.input:focus {
    outline: none;
    color: var(--color-dark);

}
.join-us-form-body {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}


.join-us-form-input {
    max-width: 400px;
}
.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.location-body {
    padding: 80px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.location-map-image {
    height: auto;
}

.location-title:not(:last-child) {
    margin-bottom: 14px;

}
.location-description:not(:last-child) {
    margin-bottom: 37px;
    
}
.location-description {
    max-width: 490px;
}
.family {
    background-color: var(--color-dark-alternate);
}
.family-header {
    padding-top: 132px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 7px;
}
.family-description {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: var(--color-light);
    line-height: 1.65;
}
/* VIEWPORT */
    .family-body {
    overflow: hidden;
    width: 100%;
    padding-block: 40px;

    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    }

    /* TRACK */
    .carousel-wrapper {
    display: flex;
    gap: 20px;
    width: max-content;

    animation: carousel-scroll 30s linear infinite;
    will-change: transform;
    }

    
    .family-body:hover .carousel-wrapper {
    animation-play-state: paused;
    }

    
    .family-image {
    flex-shrink: 0;

    height: clamp(180px, 28vh, 320px);
    width: auto;

    object-fit: cover;
    border-radius: 1px;

    transition: transform 0.35s ease, filter 0.35s ease;
    transform-origin: center;

    filter: brightness(0.95);
    }

    .family-image:hover {
    transform: scale(1.06);
    filter: brightness(1.05);
    }

    
    @keyframes carousel-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 1919px) {
    .motivation-card-image {
        margin-block: -20px;
    }
}

@media (max-width: 1280px) {
    .training-types-list {
    grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 1024px) {
    .header-menu {
        order: 1;
        flex-basis: 100%;
    }
    .header {
        flex-wrap: wrap;
        padding-top: 20px;
        row-gap: 10px;
        padding-inline: 15px;
    }
    .header-menu-link {
        display: inline-flex;
        align-items: center;
        column-gap: 7px;
    }
    .header-logo {
        flex-shrink: 0;
    }
    .header-menu-list {
        flex-wrap: wrap;
        display: flex;
        column-gap: 50px;

    }
    .header-actions {
        column-gap: 15px;
    }
    .banner {
        row-gap: 20px;
        padding-inline: 15px;
    }
    .motivation-card-image {
        max-width: 30%;
        height: auto;
        margin-block: 0;

    }
    .motivation-card {
        padding-block: 50px;
    }
    .join-us-body {
        padding-bottom: 80px;
    }
    .location {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 767px) {
    .button {
        padding-inline: 18px;
    }
    .header-menu-link {
        height: 32px;
    }
    .header {
        padding-top: 10px;
    }
    .header-menu-list {
        column-gap: 15px;
    }
    .header-actions {
        column-gap: 20px;
    }
    .banner-info::before {
        margin-right: 10px;
    }
    .banner-info {
        margin-bottom: 5px;
    }
    
    .motivation-card, .motivation-item:nth-child(even) .motivation-card {
        flex-direction: column-reverse;
    }

    .motivation-card-image {
        max-width: 60%;
    }
    .motivation-card {
        row-gap: 30px;
        padding-block: 30px;
    }
    .motivation-card-description:not(:last-child) {
        margin-bottom: 20px;
    }
    .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    }
    .training-item {
        --trainingtypesitembgiconsize: 50px;

    }
    .training-types-image {
        max-width: 120px;
    }
    .join-us-form-subtitle {
        font-size: 16px;
    }
    .join-us-form-body {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .location-body {
        padding-block: 40px;

    }
    .location-description:not(:last-child) {
        margin-bottom: 20px;
    }
}